body {
  background-color: #B7CADB;
}

hr {
  border-color: black;
  border-style: dotted none none none;
  border-width: 5px;
  width: 3%;
}

h1 {
  color: #112B3C;
  height: 25px;
  font-family: monospace;
  font-size: 33px;
}

h3 {
  color: #205375;
  height: 10px;
  font-family: monospace;
  font-size: 25px;
}
